.expenseform {
  background-color: #353434;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  margin: 3rem auto;
}

.expenselabel {
  color: white;
}

.h1-expense {
  color: white;
  text-align: center;
}

.thead-exp {
  background-color: black;
  color: white;
}

.row-exp {
  color: white;
}

.btn-exp {
  font-size: 1px;
}

.totalExpenses {
  color: rgb(240, 20, 214);
  font-size: 30px;
  font-weight: bold;
}

.btn-premium {
  width: 50px;
  font-size: 10px; /* You can adjust the font size */
  /* padding: 6px 12px; You can adjust the padding to control the overall size */
}
