@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;

  /* background-color: #252424; */
  /* background-color: rgb(137, 199, 237); */
  /*background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%); */
}
